<?php
/**
 * This is the configuration file of the Itsblue ldandingpage
 * 
 * Error codes:
 * 0000: Connecting to ldap server failed, this can also mean that the given host could not be parsed. 
 *       If you are using SSL this may also mean that your certificate could not be validated.
 * 0001: Binding to ldap admin failed, make sure your bind DN and password is correct
 * 0002: Ldap search failed, please check the userFilter!
 * 0003: Error while changing password, make sure you have ldapmodify installed
 * 0004: Error while changing email
 * 0005: It was not possible to find any page the user has access to
 * 0006: There was an error when tryin to establish a connection voer tls, please check your tls settings and apache log
 *       Please note: This error will only fire when using startTLS, when using SSL, error 0000 will fire instead!
 * If any of these occurs, make sure you have php-ldap 
 * installed on your system and check your apache log!
 * 
 * PHP Version 7.4
 * 
 * @category Utilities
 * @package  Landingpage
 * @author   Dorian Zedler <dorian@itsblue.de>
 * @license  GNU AGPL V3
 * @link     github.com/itsblue/landingpage
 */

defined('L_EXEC') or die();

// === Server ===

// This will hide index.php from all URLs. 
// Make sure your Webserver is configured correctly, otherwise this will not work!
// (see: https://github.com/Itsblue/landingpage#installation)
$serverConfig['hideIndexPhp'] = false;

// Allow public access to links when the login is enabled
$serverConfig['publicAccessToLinks'] = false;

// Change to your custom theme. 
// Has to be in the same dir as index.php and be named <themename>.php
$serverConfig['theme'] = "default-theme";

// Change to your desired language. 
// Has to be in ./translations and be named <language>.php
$serverConfig['language'] = "de-DE";

// === Customization ===
// Some individual information about your organization
$customizationConfig['organizationName'] = "ExampleOrg";
$customizationConfig['fullOrganizationName'] = "Example Organization e.V.";
$customizationConfig['supportEmailAddress'] = "support@example.com";

// === Theme ===
$themeConfig['mainIcon'] = "https://upload.wikimedia.org/wikipedia/commons/thumb/0/04/User_icon_1.svg/120px-User_icon_1.svg.png";

// === Links ===
$links['Wiki']['href'] = "https://www.wikipedia.org/";
$links['Wiki']['description'] = "This is Wikipedia";
$links['Wiki']['image'] = "https://de.wikipedia.org/static/images/project-logos/dewiki.png";
$links['Wiki']['limitToLdapGroup'] = "";

// === Translation overrides ===
// Override translation values here
// You may want to look into the translations file to see which are available
// Available tokens:
// {$customizationConfig['organizationName']}
// {$customizationConfig['fullOrganizationName']}
// {$customizationConfig['supportEmailAddress']}
$translationOverrides['home']['welcomeMessage'] = "Welcome to your {$customizationConfig['organizationName']}-account";
$translationOverrides['home']['menu']['linksLabel'] = "{$customizationConfig['organizationName']}-services";

// === LDAP ===
$ldapconfig['enable'] = false;
$ldapconfig['debug'] = false;

// For encrypted connections, there are two options:
// 1. Use SSL:
//   - your host will have to look like this: ldaps://<host>:636
//   - you will have to set useTls to false!
// 2. Use startTLS:
//   - your host will have to look like this: ldap://<host>:389
//   - you will have to set useTls to true!

$ldapconfig['host'] = 'ldap://<host>:<port>';
$ldapconfig['useTls'] = false;

// ignore invalid certificate errors
$ldapconfig['ignoreTlsCertificateErrors'] = false;

// force a specific CA certificate
$ldapconfig['tlsCaCertificatePath'] = '';

$ldapconfig['basedn'] = '';
$ldapconfig['binduser'] = '';
$ldapconfig['binduserPassword'] = '';
$ldapconfig['userFilter'] = '';
$ldapconfig['usernameField'] = 'samaccountname';
$ldapconfig['emailField'] = 'mail';
$ldapconfig['displaynameField'] = 'displayname';

// A field containing the default password of the user 
// is used to force them to change it
$ldapconfig['firstPasswordField'] = 'sophomorixFirstPassword';

// A pattern to detect if a user still uses their default/placeholder email
// is used to force them to change it
$ldapconfig['firstEmailPattern'] = '/.*\@linuxmuster\.lan$/';

// === Jitsi ===
$jitsiconfig['enable'] = false;
$jitsiconfig['host'] = '';
$jitsiconfig['applicationSecret'] = '';
$jitsiconfig['applicationId'] = '';
$jitsiconfig['limitToGroups'] = [];
?>
