<?php
/**
 * This is the configuration file of the Itsblue ldandingpage
 * 
 * Error codes:
 * 0000: Connecting to ldap server failed, this can also mean that the given host could not be parsed
 * 0001: Binding to ldap admin failed, make sure your bind DN and password is correct
 * 0002: Ldap search failed, please check the userFilter!
 * 0003: Error while changinp password, make sure you have ldapmodify installed
 * 0004: Error while changing email
 * 0005: It was not possible to find any page the user has access to
 * If any of these occurs, make sure you have php-ldap 
 * and ldapmodify installed on your system
 * 
 * PHP Version 7.4
 * 
 * @category Utilities
 * @package  Landingpage
 * @author   Dorian Zedler <dorian@itsblue.de>
 * @license  GNU AGPL V3
 * @link     github.com/itsblue/landingpage
 */

defined('L_EXEC') or die();

$config = [];

$themeConfig['mainIcon'] = "https://upload.wikimedia.org/wikipedia/commons/thumb/0/04/User_icon_1.svg/120px-User_icon_1.svg.png";
$config['theme'] = $themeConfig;

// LDAP
$ldapconfig['enable'] = false;
$ldapconfig['host'] = 'ldap://<host>:<port>';
$ldapconfig['useTls'] = false;
$ldapconfig['basedn'] = '';
$ldapconfig['binduser'] = '';
$ldapconfig['binduserPassword'] = '';
$ldapconfig['userFilter'] = '';
$ldapconfig['usernameField'] = 'samaccountname';
$ldapconfig['emailField'] = 'sophomorixCustom1';
$ldapconfig['displaynameField'] = 'displayname';

// A field containing the default password of the user 
// is used to force them to change it
$ldapconfig['firstPasswordField'] = 'sophomorixFirstPassword';

// A pattern to detect if a user still uses their default/placeholder email
// is used to force them to change it
$ldapconfig['firstEmailPattern'] = '/.*\@linuxmuster\.lan$/';

$config['ldap'] = $ldapconfig;

// Jitsi
$jitsiconfig['enable'] = false;
$jitsiconfig['host'] = '';
$jitsiconfig['applicationSecret'] = '';
$jitsiconfig['applicationId'] = '';
$jitsiconfig['limitToGroups'] = [];

$config['jitsi'] = $jitsiconfig;

// Links
$links['Wiki']['href'] = "https://www.wikipedia.org/";
$links['Wiki']['description'] = "This is Wikipedia";
$links['Wiki']['image'] = "https://de.wikipedia.org/static/images/project-logos/dewiki.png";
$links['Wiki']['limitToLdapGroup'] = "";

$config['links'] = $links;

?>
